{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="container text-center">
  {% if user.is_authenticated %}
  <h3>Welcome to E-Learning GHRCE <span class="text-uppercase"></span> </h3>
  <hr>
  {% endif %}

  <br>
  <div class="row">
    <div class="col-md-4">
      <a href="{% url 'notes' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images\notes.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Notes
            </h5>
            Create notes for future reference. They are stored permanently until you choose to delete them.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="{% url 'assignment' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/assignment.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Assignments
            </h5>
            Add assignments to the list, prioritizing them by their deadlines.
          </div>
        </div>
      </a>
    </div>
    
    <div class="col-md-4">
      <a href="{% url 'todo' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/todo.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              To Do
            </h5>
            Maintain your to-do list for the day, crossing off tasks as you complete them.
          </div>
        </div>
      </a>
    </div>

  </div>
  <br><br><br>


  <div class="row pb-5">

    <div class="col-md-4">
      <a href="{% url 'youtube' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/youtube.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Youtube
            </h5>
            Conduct a YouTube search and choose the video you'd like to watch, then play it on YouTube.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-4">
      <a href="{% url 'books' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/books.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Books
            </h5>
            Please navigate through the organized book menu and select the books you wish to browse.
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-4">
      <a href="{% url 'dict' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/dictionary.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Dictionary
            </h5>
            If you encounter a challenging vocabulary word from a book, feel free to enter it here, and I'll assist you with its meaning.
          </div>
        </div>
      </a>
    </div>

  </div>


</section>
{% endblock content %}
